<html>
    <head>
        <title>Team_delta's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Team_delta Blog</a></h1>
        </div>

        <div>
            <p>published: 15 Aug </p>
            <h2><a href="">My first post</a></h2>
            <h1>College </h1>
            <p>A college (Latin: collegium) is an educational institution or a constituent part of one. A college may be a degree-awarding tertiary educational institution, a part of a collegiate or federal university, an institution offering vocational education, or a secondary school.

In the United States, "college" may refer to a constituent part of a university or to a degree-awarding tertiary educational institution, but generally "college" and "university" are used interchangeably,[1] whereas in the United Kingdom, Oceania, South Asia, Southern Africa, most of Europe and Africa, and Canada, "college" may refer to a high school or secondary school, a college of further education, a training institution that awards trade qualifications, a higher-education provider that does not have university status (often without its own degree-awarding powers), or a constituent part of a university (see this comparison of British and American English educational terminology for further information).</p>
        </div>

        <div>
            <p> published : 15 Aug </p>
            <h2><a href="">My second post</a></h2>
            <h1>Bro Code</h1>
            <p>Inspired by the notion of Bro Code that they developed in their sitcom, How I Met Your Mother creators Carter Bays and Craig Thomas, and one of the show's writers, Matt Kuhn, wrote a book called The Bro Code. Published by Simon & Schuster, the book covers 150 rules written in articles of what "bros" should or should not do.[4] The book was penned by Barney Stinson and also credited with Kuhn, who also wrote the entries of Barney's blog, mentioned in the series. The book was first shown in the episode "The Goat".[5] Greig Dymond of CBC.ca calls the book "a tongue-in-cheek guide to etiquette for horn-dog dudes."[6] At the end of each episode, a vanity card is used to display a random rule from the Bro Code, similar to what is done on Chuck Lorre-produced shows.</p>
        </div>
    </body>
</html>